{% comment %}
  Copied from https://github.com/pmarsceill/just-the-docs/blob/v0.3.3/_includes/head.html
  too match the version of the installed gem
{% endcomment %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">

  <link rel="shortcut icon" href="{{ 'favicon.ico' | relative_url }}" type="image/x-icon">

  {% comment %}
    Add css cache invalidation based on built time
  {% endcomment %}
  <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}?{{ site.time | date: '%s%N' }}">

  {% comment %}
    Cookiebot must be the first script tag
  {% endcomment %}
  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="789afc41-df22-45f3-8fd9-981f78082b81" data-blockingmode="auto" type="text/javascript"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-R6YJ1X2PYS"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-R6YJ1X2PYS');
  </script>

  {% if site.search_enabled != false %}
    <script type="text/javascript" src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}" data-cookieconsent="ignore"></script>
  {% endif %}
  <script type="text/javascript" src="{{ '/assets/js/just-the-docs.js' | relative_url }}"></script>

  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% seo %}

  {% include head_custom.html %}

  {% if page.apidoc %}
  <script src="https://unpkg.com/@stoplight/elements/web-components.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/@stoplight/elements/styles.min.css">
  <link rel="stylesheet" href="{{ '/css/stoplight-elements-override.css' | relative_url }}">
  {% if page.switchbasicwithapikey %}
  <link rel="stylesheet" href="{{ '/css/stoplight-elements-public-api-override.scss' | relative_url }}">
  {% endif %}
  {% endif %}

  {% if page.fullwidth %}
    <link rel="stylesheet" href="{{ '/css/fullwidth-override.css' | relative_url }}">
  {% endif %}


</head>
