{% macro render_nav(navlist) %}
<ul class="nav-list">
  {% for nav in navlist %}
    {% assign has_children = nav.subcategories | default: nav.children %}
    {% assign active_class = "" %}
    {% if page.path == nav.page %}
      {% assign active_class = "active" %}
    {% endif %}
    
    <li class="nav-list-item {{ active_class }}">
      {% if has_children %}
        <a href="#" class="nav-list-expander">
          <svg viewBox="0 0 24 24"><use xlink:href="#svg-arrow-right"></use></svg>
        </a>
      {% endif %}
      
      <a class="nav-list-link" href="{% link {{ nav.page }} %}">{{ nav.title }}</a>
      
      {% if has_children %}
        {% render_nav has_children %}
      {% endif %}
    </li>
  {% endfor %}
</ul>
{% endmacro %}

{% render_nav navlist %}
