<li class="nav-list-item {% if page.path == include.item.page %}active{% endif %}">
    {% if include.item.page %}
        <a class="nav-list-link" href="{% link {{ include.item.page }} %}">{{ include.item.title }}</a>
    {% else %}
        <span class="nav-list-link">{{ include.item.title }}</span>
    {% endif %}

    {% if include.item.subcategories %}
        <ul class="nav-list">
            {% for subcategory in include.item.subcategories %}
                {% include nav_item.html item=subcategory %}
            {% endfor %}
        </ul>
    {% endif %}
</li>
