{%- comment -%}
  Updated to support both `children` and `subcategories` for flexible YAML structures.
{%- endcomment -%}
{%- if page.has_children == false and page.subcategories == nil -%}
  {%- assign nav_children = "" | split: "" -%}
{%- else -%}
  {%- capture site_nav -%}
    {%- include_cached components/site_nav.html all=true -%}
  {%- endcapture -%}
  {%- assign nav_children = site_nav | where_exp: "item", "item.parent == page.url" | concat: page.subcategories -%}
{%- endif -%}
{%- unless nav_children == empty -%}
  {%- assign nav_ancestors = "" | split: "" -%}
  {%- for nav_link in nav_breadcrumbs -%}
    {%- assign nav_title = nav_link | split: ">" | slice: 1 | first | append: ">" | remove: "</a>" -%}
    {%- assign nav_ancestors = nav_ancestors | push: nav_title -%}
  {%- endfor -%}
  {%- assign nav_parenthood = site[page.collection] | default: site.html_pages | where_exp: "item", "item.title != nil" | group_by: "parent" -%}
  {%- assign nav_top_nodes = nav_parenthood | where_exp: "item", "item.name == ''" | map: "items" | first -%}
  {%- assign nav_top_node_titles = nav_top_nodes | map: "title" -%}
  {%- include components/nav/children.html node=page ancestors=nav_ancestors all=true -%}
{%- endunless -%}
{%- if nav_children.size >= 1 -%}
  {%- if page.child_nav_order == 'desc' or page.child_nav_order == 'reversed' -%}
    {%- assign nav_children = nav_children | reverse -%}
  {%- endif -%}
<hr>
{% include toc_heading_custom.html %}
<ul class="nav-list">
  {% for nav_child in nav_children %}
    <li>
      <a href="{{ nav_child.url | relative_url }}">{{ nav_child.title }}</a>
    </li>
  {% endfor %}
</ul>
{%- endif -%}